/* CREATE PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */

header {
  background-image: url('./race.jpeg');
}


/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}